* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow-y: hidden;
}

body {
   background-color: #2A77ABFF;
}

#form-js {
   width: 450px;
   height: 160px;
   padding: 30px 20px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
}

#form-js .container input {
   width: 290px;
   border: none;
   outline: none;
   border-bottom: 1.5px solid #ccc;
   margin-right: 12px;
}

h1 {
   margin-top: 50px;
   text-align: center;
   font-size: 50px;
   color: yellow;
}

.style {
   padding: 5px 15px;
   border: 1px solid blue;
   border-radius: 5px;
   background-color: blue;
   color: #fff;
   /*font-size: 24px;*/
}


#ul-list {
   margin-top: 10px;
   display: flex;
   column-gap: 10px;
   /*text-transform: uppercase;*/
}


.margin-top {
   margin-top: 35px;
}
